/bin
/obj
/Properties
/SignalRFilterPlay.csproj
/SignalRFilterPlay.csproj.user
/SignalRFilterPlay.csproj.vspscc
/SignalRFilterPlay.csproj.vssscc
/SignalRFilterPlay.csproj.vstemplate
/SignalRFilterPlay.csproj.vstemplate